/* color overrides */
/*green*/ h1,nav{background:#08b955;}h2,th,footer{background:#99d1b4;}a[href],nav>a[href]{border-color:#18b975;}nav>a[href]{background:#dce6e3;}iframe{border-left-color:#dce6e3;}
