/* color overrides */
/*pink*/ h1,nav{background:#b90855;}h2,th,footer{background:#d199b4;}a[href],nav>a[href]{border-color:#b91875;}nav>a[href]{background:#e6dce3;}iframe{border-left-color:#e6dce3;}
