
body { color: white; background-color: black; }
h1,body,html { margin-top: none; padding-top: none; }

a { color: skyblue; }
td { font-size: 90%; text-align: center; }
td.right { text-align: right; }
td.dark { color: #FFFFFF; }
.highlight { background-color: darkred ; }

img { border: 0px; }
em { background-color: darkred; }
caption { display: none; }

h1 { font-size: medium; }
html[xmlns] h1 { font-size: large; }


